<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>News Article Evaluation</title>
</head>

<body>
    <!--Header-->
    <header class="head">
        <div class="logo"></div>
        <div class="title">
            <h1>News Article Evaluation</h1>
        </div>

        <!--NavBar-->
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </header>

    <!--Form -->
    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="text" type="text" name="input" placeholder="Enter text to be analyzed" required>
                <input id="submit" type="submit" name="submit" value="Submit" onsubmit="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <!--Robot Results-->
        <section class="output">
            <div class="robot"></div>
            <div class="results hide">
                <div id="analysis">Text Analysis</div>
                <div id="agreement"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="subjective"></div>
                <div id="polarity"></div>
            </div>
        </section>
    </main>

    <!--Footer-->
    <footer class="foot">
        <p>Copyright Nick Renaud 2020</p>
    </footer>
</body>

</html>