<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="/styles/resets.scss">
    <link rel="stylesheet" href="/styles/base.scss">
    <link rel="stylesheet" href="/styles/header.scss">
    <link rel="stylesheet" href="/styles/form.scss">
    <link rel="stylesheet" href="/styles/footer.scss">
</head>

<body>

    <header class="head">
        <div class="logo"></div>
        <div class="title">
            <h1>Article Evaluation</h1>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="text" type="text" name="input" placeholder="Enter text to be analyzed" required>
                <input id="submit" type="submit" name="submit" value="submit" onsubmit="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section class="output">
                    <div class="robot"></div>
                    <div class="results">
                        <strong>Results:</strong>
                        <div id="agreement"></div>
                        <div id="confidence"></div>
                        <div id="irony"></div>
                        <div id="subjective"></div>
                        <div id="polarity"></div>
                    </div>

                </section>
    </main>

    <footer class="foot">
        <p>Copyright Nick Renaud 2020</p>
    </footer>
</body>

</html>