$text-color: #e7e7e7;
$primary-color: #545454;
$primary-font: Georgia,
'Times New Roman',
Times,
serif;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $primary-color;
    font-family: $primary-font;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.robot {
    margin-right: 10px;
}

.results {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background: black;
    max-width: 400px;
    color: $text-color;
    margin: 20px;
    line-height: 2rem;
}

.results::after {
    content: '';
    border: 30px solid transparent;
    border-right-color: black;
    border-left: 0;
    position: absolute;
    left: -30px;
    top: 20%;
    margin-top: -18px;
}