@import 'base';
.head {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background: #000000;
    color: $text-color;
    height: 70px;
}

.nav {
    ul {
        list-style: none;
    }
    li {
        display: inline;
    }
    a {
        text-decoration: none;
        color: $text-color;
        padding: 0px 15px;
    }
}

.robot-icon {
    height: 40px;
    width: 40px;
}

.title {
    font-size: 2rem;
    padding-left: 100px;
}